.container {
    border: 1px solid palevioletred;
    background-color: palevioletred;
    padding-top: 40px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    position: relative;
}

button {
    padding: 0 120px !important;
    background-color: #70c5c0;
    border: none;
    ;
}

.avatar {
    width: 80px;
    height: 80px;
    border: 1px solid #70c5c0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    margin-left: 150px;
    background-color: #70c5c0;
}

.jumbotron {
    margin: 1px;
}

#av {
    color: white;
}